
    .CssBtnDownCombo
{
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-style: none;
    background-image: url('/TaPresentation/App_Utility/ComboBox/Icon/margin_down.gif');
    cursor: pointer;
}
    .CssBtnDownCombo:hover
{
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-style: none;
    background-image: url('/TaPresentation/App_Utility/ComboBox/Icon/margin_down.gif');
    cursor: pointer;
}
    .CssText
    {
        width: 120px;
        height: 22px;
        font-family: tahoma;
        font-size: 12px;
        font-weight: normal;
    }
    .CssGridHeader
    {
        filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= #004488, EndColorStr=#FFFFFF);
        font-family: tahoma;
        font-size: 12px;
        font-weight: normal;
        height: 30px;
    }
    .CssGridRow
    {
        font-family: tahoma;
        font-size: 12px;
        background-color: Transaprent;
        border: 1px solid #000000;
        height: 20px;
        cursor: pointer;
    }
    .CssGridRow:hover
{
    font-family: tahoma;
    font-size: 12px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    height: 20px;
    cursor: pointer;
}
    .CssGridRowSelected
{
    font-family: tahoma;
    font-size: 12px;
    background-color: #FFE066;
    border: 1px solid #000000;
    height: 20px;
    cursor: pointer;
    color: #FFFFFF;
}