.XTabTable_Header
{
	font-family :'tahoma',tahoma ;	
	font-size:12px ;
	font-weight:bold;
	background-color:#83AFE5;
	behavior: url(/Automation/Scripts/behaviors/kasragridsort.htc);
}
.XTabTable
{
	background-color :#D5E1FD;
	font-family :'tahoma',tahoma ;	
	font-size:13px ;
	font-weight:bold;
}
.DivStyle
{
	width: 600px;
}
.XTabBtn
{
	cursor : hand;
	WIDTH: 180px; 
	HEIGHT: 32px; 
	BACKGROUND-REPEAT: no-repeat; 
	BACKGROUND-COLOR: transparent;
    cursor:hand;
    font-family:'tahoma',tahoma ;	
    background-color: steelblue  ;
    font-size:11px;
    color:White ;
	font-weight:bold;           
    BORDER-RIGHT: #346fa4 2px solid; 
	BORDER-TOP: lightsteelblue 2px solid; 
	BORDER-LEFT: lightsteelblue 2px solid; 
	BORDER-BOTTOM: #346fa4 2px solid;  
}
.XTabTxt
{
    font-family:'tahoma',tahoma ;	
    font-size:10px;
    font-weight : bold;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-weight: bold;
	font-size: 12px;
	border-left: #000000 1px solid;
	width: 100px;
	border-bottom: #000000 1px solid;
}
.XTabSel
{
    font-family:'tahoma',tahoma ;	
    font-size:10px;
    font-weight : bold;
	border-right: #000000 1px solid;
	border-top: #000000 1px solid;
	font-weight: bold;
	border-left: #000000 1px solid;
	width: 110px;
	border-bottom: #000000 1px solid;
}
.XTabLinks
{
	font-weight: bold;
	font-size: 12px;
}
.XTabStatics
{
	font-weight: bold;
	font-size: 12px;
}
.XTabChk
{
	cursor : hand;
}
.XTabConditionTable
{
	border-right: #000000 2px double;
	border-top: #000000 2px double;
	font-weight: bold;
	font-size: 12px;
	border-left: #000000 2px double;
	border-bottom: #000000 2px double;
}
.XTabResultHeader
{
	width: 600px;
	font-weight: bold;
	font-size: 12px;
}
.XTabShowSelectedTable
{
	width: 600px;
	font-weight: bold;
	font-size: 12px;
}