<?xml version="1.0"?><configuration><appSettings><!--
		<add key="GenConn" value="Server=ACP;UID=kasra;DataBase=Framework;pwd=WebKasra;"/>
		<add key="SysConn" value="Server=ACP;uid=kasra;DataBase=Framework;pwd=WebKasra;"/>
		<add key="subSysID" value="1" />
		--><add key="UserKind" value="public" /><add key="DataSource" value=".\SQL2008R2" /><add key="InitialCatalog" value="Framework" /><add key="SubSysId" value="11" /><add key="ProjectName" value="Framework" /><add key="PVersion" value="11813,11817,11829,11833,11841,11845,11851,11859,11867,11871,11885,11893,11905,11909,11915,11927,11933,11937,11953,11953" /><add key="BaseCatalog" value="Framework" /></appSettings><system.web><pages validateRequest="false" buffer="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"></pages><!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    --><compilation defaultLanguage="vb" debug="true"></compilation><authentication mode="Windows" /><!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    --><authorization><allow users="*" /><!-- Allow all users --><!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            --></authorization><!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    --><trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" /><!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    --><sessionState mode="InProc" cookieless="false" timeout="1000" /><!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    --><globalization requestEncoding="utf-8" responseEncoding="utf-8" /><httpRuntime maxRequestLength="32768" requestValidationMode="2.0" /><xhtmlConformance mode="Legacy" /></system.web></configuration>