
.SnapHeader
{
  color: #ffffff; 
  background-color: #6699CC; 
  
  font-weight: bold; 
  font-size: 12px; 
  padding-top: 2px;
  padding-left: 5px; 
}

.SnapContent
{
  font-family: verdana;
  font-size: 11px;
  padding: 3px;
  border: #4284b5 1px solid;
  background-color: #E3EFFF;
  cursor:default;
}

.link
{
    color: Blue; 
    text-decoration: underline;
    cursor: pointer
}

.lbl
{
    color:#DD5800;
}

.Dock
{
    padding: 5px;
    border: 1px solid #D5E7FF;
    background-color: #E3EFFF;
}

.Links
{
  color:Black;
  font-size:11px;
}

