.TopGroup
{
  z-index:99;
  position:relative;
}

.DefaultTab
{
    color: black;
    background-image: url(../../App_Utility/Images/PageMain/tab_bg.gif);
    font-family: Tahoma;
    font-size: 12px;
    cursor: pointer;
    font-weight: normal;
}

.TabExpanded
{
    background-image: url(../../App_Utility/Images/PageMain/collapsed.gif);
}

.DefaultTabHover 
{
  color:black; 
  background-image: url(../../App_Utility/Images/PageMain/hover_tab_bg.gif);
  font-family:Tahoma; 
  font-size:12px; 
  cursor: pointer;
    font-weight: normal;
}

.SelectedTab 
{
  color:black; 
  background-image: url(../../App_Utility/Images/PageMain/selected_tab_bg.gif);
  font-family:Tahoma; 
  font-size:12px; 
  cursor: pointer;
    font-weight: normal;
}
.ScrollItem 
{
  color:black; 
  background-image: url(../../App_Utility/Images/PageMain/scroll_item_bg.gif);
  border: 1px solid #919B9C; 
  border-left-color: #91A7B4; 
  border-top-color: #91A7B4; 
  font-family:Tahoma; 
  font-size:12px; 
  height: 20px;
  cursor: pointer;
    font-weight: normal;
}

.ScrollItemHover 
{
  color:black; 
  background-image: url(../../App_Utility/Images/PageMain/hover_scroll_item_bg.gif);
  border: 1px solid #919B9C; 
  border-left-color: #91A7B4; 
  border-top-color: #91A7B4; 
  font-family:Tahoma; 
  font-size:12px; 
  height: 20px;
  cursor: pointer;
    font-weight: normal;
}


