.TopGroup
{
  z-index:99;
  position:relative;
}

.DefaultTab 
{
  background-position: center center;
  color:black; 
  background-image: url(../../Images/ModifyPersonImage/tab_bg.gif);
  font-family:tahoma,MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
  background-repeat: no-repeat;
  
}


.DefaultTabHover 
{
  color:black; 
  background-image: url(../../Images/ModifyPersonImage/hover_tab_bg.gif);
  font-family:,tahoma,MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
  background-position: center center;
  background-repeat: no-repeat;
}

.SelectedTab 
{
  background-position: center center;
  background-repeat: no-repeat;
  color:black; 
  background-image: url(../../Images/ModifyPersonImage/selected_tab_bg.gif);
  font-family:tahoma,MS Sans Serif, Verdana; 
  font-size:10px; 
  cursor:default;
}

.ScrollItem 
{
  background-position: center center;
  background-repeat: no-repeat;
  color:black; 
  background-image: url(../../Images/ModifyPersonImage/scroll_item_bg.gif);
  border: 1px solid #919B9C; 
  border-left-color: #91A7B4; 
  border-top-color: #91A7B4; 
  font-family:tahoma,MS Sans Serif, Verdana; 
  font-size:10px; 
  height: 20px;
  cursor:default;
}

.ScrollItemHover 
{
  background-position: center center;
  background-repeat: no-repeat;
  color:black; 
  background-image: url(../../Images/ModifyPersonImage/hover_scroll_item_bg.gif);
  border: 1px solid #919B9C; 
  border-left-color: #91A7B4; 
  border-top-color: #91A7B4; 
  font-family:tahoma,MS Sans Serif, Verdana; 
  font-size:10px; 
  height: 20px;
  cursor:default;
  
  
}


.PageContent
{
  font-family:tahoma,MS Sans Serif, Verdana; 
  font-size:10px; 
}

.MultiPage
{
  background-color:#ECF7FF;
  border: 1px solid #919B9C;
  width:530px;
  height:350px;
  top:-5px;
  position:relative;
  padding:10px;
 
}
